h1{
    font-weight: bolder;
    font-size: 35px;
}
.searchbar{
    width: 100%;
    height: 25%;
    margin-bottom: 50px;
}
.searchbar input{
    border-radius: 200px;
    width: 90%;
    height: 25px;
}
.center{
    height: 100%;
}
.cards{
    height: 75%;
    width: 100%;
}
.cards div{
    border: 2px solid black;
    position: relative;
    float: left;
    width: 50%;
    margin: 10px;
}
.cards div img{
    width: 150px;
}

.center{
    width: 90%;
}
.card{
    width: 38rem;
    background-color: rgb(70, 99, 94);
    border-radius: 10%;
}
.card-img-top{
    border-radius: 10%;
}
.valasztott{
    width: 90%;
    height: 20%;
    text-align: center;
    color: rgb(71, 6, 6);
    border-radius: 50px;
}
.valaszt{
    border-radius: 50px;
    margin-top: 10px;
    width: 90%;
    height: 30%;
    background-color: rgb(70, 99, 94);
    margin-bottom: 10px;
}
.valaszt input{
    border-radius: 50px;
    height: 25px;
}