@page "/"
    

    <div class="center">
        <h1 class="text-center fw-bold">Ez a te utad!</h1>
        <h4 class="text-center">Válaszd ki az utazásod!</h4>
        <br>

        <div class="container">

            <div class="row">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="Img/bp.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="Img/paris.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content!</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="Img/paris.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <h2>Az oldal használatáról</h2>
        <p>
            Ez az oldal segít a vakáció terveidbe hogy ne neked kelljen folyamatosan keresgélni.
            hogy elkezdjed csak kattincs a gombra vagy a navbar-on keresztűl.
        </p>
        <br>
        <button class="Startbutton"><a href="tripPlanner.html">Kedzjűk el!</a></button>
        <br>
    </div>


@code {

}
