@inherits LayoutComponentBase


  <div class="top-row px-4 bg-light justify-content-center">



        <a class="navbar-brand" href="#">
            A Te Utad
            <img src="Img/logo.png" width="50" height="50" />
        </a>

        <a class="btn btn-outline-primary " href="/tervezes">Utazás tervezése</a>
        <a class="btn btn-outline-primary">Elmentett utak megtekintése</a>



  </div>

@code {

}
